
<%= link_to "Back to books", books_path, class: "btn btn-primary" %>
<%= link_to "Create new list", new_list_path, class: "btn btn-primary" %>


<%= render "form", locals: {list: @list} %>

<% @lists.each do |list|%>
  <%= link_to list_path(list) do %>
  <h2><%= list.name %></h2>
  <p ><%= list.comment %></p>
  <% end %>
<% end %>


