<%# ||||||||||||||||||||||||||||||||||||||||||||||| %>
<%# List name %>
<%# There will be a description about the list %>

<h1><%= @list.name %></h1>
 <br>
<%= @list.comment %>
<button> Hello button </button>

<%# should be the listings.each where list.id = with the params. %>
<%# and list here all the books which are connected to this %>


<%# ||||||||||||||||||||||||||||||||||||||||||||||| %>

<%# Buttons %>
<%# These are the buttons for the list page %>

<br>
<br>
<%# Back button %>
<%= link_to "Back", :back, class: "btn btn-primary" %>
<%# back to books button %>
<%= link_to "back to books", books_path, class: "btn btn-primary" %>
<%# update button --- NOT WORKING %>
<%# ||||||||||||||||||||||||||||||||||||||||||||||| %>
<%= link_to "update", edit_list_path, class: "btn btn-primary" %>
<%# Delete List button %>
<%= link_to "delete", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?"}, class: "btn btn-primary" %>


<hr>
<%# ||||||||||||||||||||||||||||||||||||||||||||||| %>
<%# Listed books with this list %>
<div class="container">
<% @list.books.each do |book| %>
  <%= link_to book_path(book) do %>
  <div class="book">
  <h2><%= book.title %></h2>
  <p><%= book.writer %></p>
  </div>
  <% end %>
<% end %>
</div>


<%# Renders the form to add a book to this list
This already has the list_id attached. So we only need to choose the book and if we want to add a comment %>
<%= render "listings/listform", locals: {list: @list, listing: @listing}  %>
