<%# ||||||||||||||||||||||||||||||||||||||||||||||| %>
<%#  %>

<h1>Book</h1>


<%# ||||||||||||||||||||||||||||||||||||||||||||||| %>
<%# Here I will add the javascript on the lists There will be all books function %>
<%# So the javascript will show everything based on the list we choose %>

<p>Lists</p>
  <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
  |<strong><%= list.name %></strong> |
    <% end %>
  <% end %>
  <hr>

  <%= link_to "New list", new_list_path, class: "btn btn-primary" %>
  <%= link_to "New book", new_book_path, class: "btn btn-primary" %>

<div class="container">
  <% @books.each do |book| %>
        <%= link_to book_path(book) do %>
        <div class="book">
        <h2><%= book.title %></h2>
        <p><%= book.writer%></p>
        </div>
        <% end %>
      <% end %>
</div>





<%# have a button to go to the list %>
