
<h1> <strong><%=@book.title %></strong> showpage</h1>
<h3><strong>title: </strong> <%= @book.title %></h3>
<h4><strong>Writer: </strong> <%= @book.writer %></h4>
<p><strong>Year purchased: </strong><%= @book.purchased.nil? ? "" : @book.purchased.year %></p>
<p><strong>Status</strong> <%= @book.status %></p>
<p><strong>Year published: </strong> <%= @book.year %></p>
<p><strong>Language: </strong><%= @book.language %></p>
<p><strong>Genre: </strong><%= @book.genree %></p>
<p><strong>Purchased: </strong><%= @book.purchased %></p>
<p><strong>Lended: </strong><%= @book.lended %></p>
<p><strong>Lended to: </strong><%= @book.lended_to %></p>
<p><strong>Location of the book: </strong><%= @book.location %></p>
<p><strong>Print: </strong> <%= @book.print %></p>



<% if @book.comments.empty? %>
  <% else %>
    <p>Comments:
    <ul>
      <% @book.comments.each do |comment| %>
      <li><%= comment.comment %> (on: <%= comment.created_at %>)
        <%= link_to book_path(@book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
        <i class="fa-solid fa-trash"></i> currently deleting the book
      <% end %></li>
      <% end %>
    </ul></p>
    <% end %>

<br>
<br>
<h2>This book is on these lists</h2>
<% @book.listings.each do |listing| %>
<%= List.find(listing.list_id).name  %>
<%= link_to book_path(@book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
        <i class="fa-solid fa-trash"></i> currently deleting the book
      <% end %>
<br>
<% end %>

<br>

<%= link_to book_path(@book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
  <i class="fa-solid fa-trash"></i>
<% end %>


<%= link_to "Delete", book_path(@book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>

<%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary" %>

<%= link_to "back", :back, class: "btn btn-primary" %> NOTE: if I did submit a form on the page it does not go back
<%# <%= link_to "Add it on a list", new_listing_path, class: "btn btn-primary" %>

<%= render "comments/form", locals: {book: @book, comment: @comment} %>
<%= render "listings/bookform", locals: {book: @book, listing: @listing} %>

<%# <%= render "listings/form", listing: @listing %>

<%# <%= render "listings/form", locals: {book: @book} %>
